### Variables

In [2]:
## declaring and Assigning variables 
age = 32
height = 6.1
name = "krsih"
is_Student = True

#printing variables 
print("Age :" ,age, "Name :",name,"is_Student :",is_Student)

Age : 32 Name : Saurav is_Student : True

In [4]:
#Naming conventions
## It should descriptive 
## They should start with letter or _ , they can contains letter , number and underScore 
## variables are case sensitive

# Example of vaild_varibale name 
first_name = "Saurav"
last_name = "Tiwari"

# Example of invaild_varibale name 
2age = 64
last-name = " Tiwari"  ## - this is invaild

SyntaxError: invalid decimal literal (2440388848.py, line 11)

In [12]:
# In python data type is determind at runtime
age = 25 #int
height  = 4.5 #float 
name = "Krish" #string 
is_Student = True #boolean
print(type(age))
print(type(name))
print(type(height))
print(type(is_Student))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

### Type checking and conversion

In [19]:
age = 25
type(age)
# Type conversion  using type casting
age_float = float(age)
type (age_float)
print(type(age_float))
print(age_float)

<class 'float'>
25.0

In [22]:
# Example of typecasting 
age = 65 
print(type(age))
# data type of age is int 
# lets change to float 
new_age = float(age)
print(type(new_age))

<class 'int'>
<class 'float'>

In [24]:
# Dynamic changing type 
variable = 24 
print(variable , type(variable))
variable = "Saurav"
print(variable , type(variable))
variable = True
print(variable , type(variable))

24 <class 'int'>
Saurav <class 'str'>
True <class 'bool'>

### Input

In [27]:
age = input('What is your age')
print(age)

In [29]:
age = int(input('What is your age'))
print(age)

34

### Simple Calculator

In [30]:
number1 = float(input('Enter the number'))
number2 = float(input('Enter the second number'))
sum = number1 + number2
minus = number1 - number2
product  = number1* number2
quotient = number1/number2
print(sum , minus , product, quotient)

80.23 -11.11 1578.3552000000002 0.7567330851762645