# Basic Syntax rule in python

In [3]:

# Case sensitivity 
name = "Saurav"
Name = "Ram"
print(name)
print(Name)

Saurav
Ram

### Indentation

In [6]:

## Uses indentation to define block of code 
age = 32
if age > 30:
    print(age)
# Below print is out side of if block    
print(age)

32
32

### print statment

In [7]:

print('Hello world')

Hello world

### Line Continuation

In [21]:
# whit help of backsalsh(\) we can continue to next line
total=102+2+3+4+5+89+\
78+56
print(total)

339

### Multiple Statements on a single line

In [23]:
# Example 
x = 5
y = 4 
z = 5+4
print(z)

# 0r 
x= 5; y=4 ; z = x+y; print(z)

9
9

## Variable assignment

In [28]:
# in python we do not need to define data type 
number = 5
age = 45 
name = 'Saurav'
print(number, age , name)

5 45 Saurav

In [35]:
type(age)

int

In [37]:
type(name)

str

In [36]:
type(number)

int

### Type Inference

In [38]:
var = 10 
print(var)
var = "Saurav"
print(var)

10
Saurav